[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "==2.8.0"
black = "*"
pyyaml = "*"
pandas = "==2.0.1"
scikit-learn = "==1.2.2"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.9"
